Source: androidframeworksbase
Section: devel
Priority: extra
Maintainer: Android tools Maintainer <android-tools-devel@lists.alioth.debian.org>
Uploaders: Stefan Handschuh <handschuh.stefan@googlemail.com>
Build-Depends: debhelper (>=9), flex, bison
Standards-Version: 3.9.3
Homepage: https://android.googlesource.com/platform/frameworks/base
Vcs-Git: git://anonscm.debian.org/git/android-tools/framworksbase.git

Package: aidl
Section: devel
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Homepage: http://developer.android.com/tools/building/index.html
Description: Android Interface Definition Language converter
 A tool that converts .aidl interfaces into Android java classes.

